<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">

        <li class="sidebar__item" id="menu_ap_uptime">
            <a href="/ap_uptime" tabindex="0">
                <span class="icon-accesspoint-outline"></span>
                <span>AP Uptime</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_client_count">
            <a href="/client_count" tabindex="0">
                <span class="icon-communities"></span>
                <span>AP Client Count</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_bandwidth">
            <a href="/bandwidth" tabindex="0">
                <span class="icon-data-usage"></span>
                <span>AP Bandwidth</span>
            </a>
        </li>

        <li class="divider"></li>

        <li class="sidebar__item" id="menu_vip_client">
            <a href="/vip_client" tabindex="0"">
                <span class="icon-mobile-phone"></span>
                <span>VIP Client</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_client_performance">
            <a href="/client_performance" tabindex="0"">
                <span class="icon-mobile-phone"></span>
                <span>Client Performance</span>
            </a>
        </li>

    </ul>
</nav>
<!--CUSTOMIZE END-->
